body {
    font-family: Arial, sans-serif;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: forestgreen;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid darkgrey;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: forestgreen;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.blockContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#blockContainer, #testBlockContainer {
    width: 300px;
    margin: 20px 0;
}

.block {
    background-color: #fff;
    border: 2px solid #28a745;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    word-wrap: break-word;
    position: relative;
}

.block.hash {
    background-color: orange;
}

.block h3 {
    margin: 0;
    color: #333;
}

.block p {
    margin: 5px 0;
    color: #666;
}

.square {
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
    top: 70px;
    left: -30px;
    border-radius: 5px;
}

.lineH {
    height: 180px;
    width: 3px;
    position: absolute;
    top: -100px;
    left: -20px;
    background-color: green;
}

.lineV {
    height: 3px;
    width: 10px;
    position: absolute;
    top: -100px;
    left: -20px;
    background-color: green;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid green;
    position: absolute;
    top: -110px;
    left: -10px;
}

#validationResult {
    font-size: 18px;
    font-weight: bold;
    color: #dc3545;
}
