body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    /*background-image: url(background.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s, height 0.3s;
    z-index: 1000;
}

.nav-item {
    font-size: 25px;
    cursor: pointer;
    margin: 0 20px;
    padding-top: 50px;
    transition: color 0.3s, font-size 0.3s;
}

.home {
    margin-left: 50px;
}

.nav-end {
    display: flex;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box {
    flex-grow: 1;
    flex-basis: calc(33.333% - 20px);
    background-color: whitesmoke;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    font-size: 18px;
}

.title {
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.content {
    padding: 15px;
}

section {
    height: 100vh;
    display: block;
    font-size: 24px;
    padding-top: 120px;
}

#section1 {
    padding-top: 350px;
    background-color: antiquewhite;
}

#section2 {
    padding-top: 200px;
    background-color: palegreen;
}

#section3 {
    padding-top: 200px;
    background-color: palegreen;
}

.logo-img {
    width: 150px;
    height: auto;
    display: block;
    background-color: white;
    border-radius: 60%;
    transition: width 0.3s, top 0.3s;
}

.navbar.scrolled {
    height: 100px;
    background-color: white;
    background-image: none;
}

.nav-item.scrolled {
    color: black;
    font-size: 20px;
}

.logo-img.scrolled {
    align-items: start;
    width: 100px;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 50px;
    color: black;
    font-size: 30px;
    user-select: none;
}

.slide {
    display: none;
}
.active-slide {
    display: block;
}

#slides-container {
    display: flex;
    justify-content: center; 
    width: 80%; 
}